.service {

  &__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(1, 1fr);

    }
  }

  &__image {
    &-inner {
      width: 100%;
      max-width: 540px;
      height: 100%;
      max-height: 367px;
    }

    @media screen and (max-width: 1024px) {
      &-inner {
        max-width: 983px;
        max-height: 662px;
      }
    }
  }

  .accordion-list {
    > li {

      border: 1px solid #e5e5e5;

      &:not(:last-of-type) {
        margin-bottom: 8px;

      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &.active {
        .question {
          border-bottom: 1px solid #e5e5e5;

          &-title {
            &:after {
              transform: rotate(-45deg);

            }
          }
        }
      }
    }

    .question {

      padding: 15px 24px 15px 15px;
      border-bottom: 1px solid transparent;
      cursor: pointer;

      &-icon {
        width: 32px;
        height: 32px;
        margin-right: 15px;
      }

      &-title {
        &:after {
          content: '';
          display: block;
          border-top: 2px solid #ccc;
          border-right: 2px solid #ccc;
          width: 15px;
          height: 15px;

          transform: rotate(135deg);
        }
      }

    }

    .answer {
      padding: 20px 20px;
      font-style: italic;
      font-weight: 300;


      p {
        margin-bottom: 10px;
      }

      .scroll {
        max-height: 143px;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-right: 10px;

        &::-webkit-scrollbar-track {
          border-radius: 10px;
          background-color: transparent;
          height: 10px;
        }

        &::-webkit-scrollbar {
          width: 5px;
          background-color: #F5F5F5;
          border-radius: 10px;

        }

        &::-webkit-scrollbar-thumb {
          -webkit-border-radius: 10px;
          border-radius: 10px;
          background: $sub-color;
        }
      }

    }

  }
}

